#block01{
background-color: cadetblue;
display:block;
}
#block02{
    background-color: rgb(226, 30, 30);
    display: inline;

}


#block03{
    background-color: brown;
    display: inline-block;
    z-index:100%;

}

.block{
    width: 25%; height:25%;
    font-size: medium ; color: rgb(22, 20, 20) ;

}
