@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
body{
    background-image:linear-gradient(to right, #2c2929, #8DA2DA )

}

h1{
    font-family:Arima;
    font-size: 35px;
    color: antiquewhite;
    text-align: center;
    
}


#im1{
    position: relative;
    left: 460px;
    top: 90px;

}

#im2{
    position: relative;
    left: 460px;
    top: 90px;
}